BOT__TOKEN=
BOT__PROXY=
REDIS__HOST=
REDIS__PORT=
BOT__TEST_MODE_ENABLED=
BOT__SERVICE_MODE_ENABLED=
BOT__SERVICE_MODE_TEXT=
PAYMENT__DAILY_PRICE=
VPN__INBOUNDS=
VPN__LIMIT_IP=
RABBITMQ__HOST=
RABBITMQ__PORT=
RABBITMQ__USER=
RABBITMQ__PASSWORD=
CRYPTO__TOKEN=