BOT__TOKEN=
BOT__PROXY=

REDIS__HOST=
REDIS__PORT=

BOT__TEST_MODE_ENABLED=
BOT__SERVICE_MODE_ENABLED=
BOT__SERVICE_MODE_TEXT=
BOT__LIMIT_SECONDS=

PAYMENT__DAILY_PRICE=
PAYMENT__PRICE_1_MONTH_RUB=
PAYMENT__PRICE_3_MONTH_RUB=
PAYMENT__PRICE_6_MONTH_RUB=
PAYMENT__PRICE_1_MONTH_STARS=
PAYMENT__PRICE_3_MONTH_STARS=
PAYMENT__PRICE_6_MONTH_STARS=

VPN__INBOUNDS=
VPN__LIMIT_IP=

RABBITMQ__HOST=
RABBITMQ__PORT=
RABBITMQ__USER=
RABBITMQ__PASSWORD=

CRYPTO__TOKEN=
API_SECURITY__API_SECRET_KEY=